<app-login></app-login>
<div class="header">
    <div class="overlay">
      <h5 class="header-h5 text-light">Shop</h5>
      <p class="header-p text-light">Home / Shop</p>
    </div>
  </div>
<div class="mt-5">
  <div class="container">
    <div class="row">
     <div class="shop-img col-md-3 mb-5">
       <img src="assets/images/38.jpg" class="img-fluid h-100 w-100">
       <h5 class="ml-3">Variable product 001</h5>
       <p class="text-danger ml-5">$ 78.00</p>
     </div>
     <div class="shop-img col-md-3 mb-5">
      <img src="assets/images/37.jpg" class="img-fluid h-100 w-100">
      <h5 class="ml-3">Ornare sed consequat</h5>
      <p class="text-danger ml-5">$ 80.00</p>
    </div>
    <div class="shop-img col-md-3 mb-5">
      <img src="assets/images/44.jpeg" class="img-fluid h-100 w-100">
      <h5 class="ml-3">Pellentesque posuere</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>
    <div class="shop-img col-md-3 mb-5">
      <img src="assets/images/47.jpg" class="img-fluid h-100 w-100">
      <h5 class="ml-3">Consequat posuere</h5>
      <p class="text-danger ml-5">$ 88.00</p>
    </div>

    <div class="shop-img col-md-3 mt-3 mb-5">
      <img src="assets/images/45.jpg" class="img-fluid h-100 w-100">
      <h5 class="ml-3">Variable 001</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>
    <div class="shop-img col-md-3 mt-3 mb-5">
      <img src="assets/images/25.jpg" class="img-fluid h-100 w-100">
      <h5 class="ml-3">product 001</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>
    <div class="shop-img col-md-3 mt-3 mb-5">
      <img src="assets/images/46.jpg" class="img-fluid h-100 w-100">
      <h5 class="ml-3">Variable 001</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>
    <div class="shop-img col-md-3 mt-3 mb-5">
      <img src="assets/images/26.jpeg" class="img-fluid h-100 w-100">
      <h5 class="ml-2">Variable product 001</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>

    <div class="shop-img col-md-3 mt-3">
      <img src="assets/images/19.png" class="img-fluid h-100 w-100">
      <h5 class="ml-2">Ornare sed consequat</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>
    <div class="shop-img col-md-3 mt-3">
      <img src="assets/images/35.jpg" class="img-fluid h-100 w-100">
      <h5 class="ml-2">Ornare sed</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>
    <div class="shop-img col-md-3 mt-3">
      <img src="assets/images/15.jpg" class="img-fluid h-100 w-100">
      <h5 class="ml-2">Ornare sed consequat</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>
    <div class="shop-img col-md-3 mt-3 mb-5">
      <img src="assets/images/18.jpg" class="img-fluid h-100 w-100">
      <h5 class="ml-2">Variable product 001</h5>
      <p class="text-danger ml-5">$ 78.00</p>
    </div>
    </div>
  </div>
</div>


























  <div class="bg-light mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mt-5">
          <h6>ABOUT US</h6>
          <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable.</p>
        </div>
        <div class="col-md-2 mt-5">
          <h6>CATEGORIES</h6>
          <ul class="list-unstyled text-muted">
            <li>Fashion Sneakers</li>
            <li class="mt-2 mb-2">Jackets</li>
            <li class="mb-2">Outdoor Shop</li>
            <li class="mb-2">Pants</li>
            <li class="mb-5">Shirts & Tops</li>
          </ul>
        </div>
        <div class="col-md-2 mt-5">
          <h6>MY ACCOUNT</h6>
          <ul class="list-unstyled text-muted">
            <li>Orders</li>
            <li class="mt-2 mb-2">Compare</li>
            <li class="mb-2">Wishlist</li>
            <li class="mb-2">Log In
            </li>
            <li class="mb-4">Register</li>
  
          </ul>
        </div>
        <div class="col-md-3 mt-5">
          <h6>CONTACT INFO</h6>
          <ul class="list-unstyled text-muted">
            <li><i class="fa fa-map-marker text-danger mr-2" aria-hidden="true"></i>
              c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</li>
            <li class="mt-2 mb-2"><i class="fa fa-phone text-danger mr-2" aria-hidden="true"></i>
  
              +025 2155 3255</li>
            <li><i class="fa fa-envelope-o text-danger mr-2" aria-hidden="true"></i>
              info@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-dark footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-3">
          <p class="text-light">Copyright © 2018. All Rights Reserved.
  
          </p>
        </div>
        <div class="col-md-6 mt-3">
          <ul class="list-unstyled text-light d-flex ml-5">
            <li><i class="fa fa-facebook" aria-hidden="true"></i>
            </li>
            <li class="ml-4"><i class="fa fa-google" aria-hidden="true"></i>
            </li>
            <li class="ml-4"><i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li class="ml-4"><i class="fa fa-linkedin" aria-hidden="true"></i>
            </li>
  
          </ul>
        </div>
      </div>
    </div>
  </div>