<app-login></app-login>
<div class="header">
    <div class="overlay">
      <h5 class="header-h5 text-light">Blog</h5>
      <p class="header-p text-light">Home / Blog</p>
    </div>
  </div>

  <div class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="Category">
            <h5>Categories</h5>
            <div class="line"></div>
            <div class="row Category-item">
              <div class="col-md-10 text-muted"><a>Women</a></div>
              <div class="col-md-2 text-muted">(10)</div>
            </div>
          <div class="Category-item row mt-3 mb-3">
            <div class="col-md-10 text-muted"><a>Men</a></div>
            <div class="col-md-2 text-muted">(05)</div>
          </div>
          <div class="Category-item row mb-3">
            <div class="col-md-10 text-muted"><a>Footwear</a></div>
            <div class="col-md-2 text-muted">(15)</div>
          </div>
          <div class="Category-item row mb-3">
            <div class="col-md-10 text-muted"><a>Bags And Backpacks</a></div>
            <div class="col-md-2 text-muted">(20)</div>
          </div>
          <div class="Category-item row mb-3">
            <div class="col-md-10 text-muted"><a>Accessories</a></div>
            <div class="col-md-2 text-muted">(07)</div>
          </div>
        </div>
        <div class="col-md-12 bg-dark p-3 mt-5">
          <h5 class="text-light">NEWSLETTER</h5>
          <div class="bg-white p-2">
            <input type="text" placeholder="Enter Your Email" class="border-0">
            <i class="fa fa-envelope text-danger" aria-hidden="true"></i>

          </div>

        </div>
        <div class="product mt-5">
          <h5>Recent Product</h5>
          <div class="line"></div>
          <div class="row mt-3">
            <div class="product-img col-md-4 mb-2">
              <img src="assets/images/38.jpg" class="h-100 w-100">
            </div>
            <div class="col-md-8">
              <h6>Ornare sed consequat</h6>
              <a><i class="fa fa-comments text-danger" aria-hidden="true"></i>
              5 Comments</a>
            </div>

          </div>
          <div class="row mt-3 mb-3">
            <div class="product-img col-md-4 mb-2">
              <img src="assets/images/15.jpg" class="h-100 w-100">
            </div>
            <div class="col-md-8">
              <h6>Ornare sed consequat</h6>
              <a><i class="fa fa-comments text-danger" aria-hidden="true"></i>
              5 Comments</a>
            </div>

          </div>
          <div class="row">
            <div class="product-img col-md-4 mb-2">
              <img src="assets/images/26.jpeg" class="h-100 w-100">
            </div>
            <div class="col-md-8">
              <h6>Ornare sed consequat</h6>
              <a><i class="fa fa-comments text-danger" aria-hidden="true"></i>
              5 Comments</a>
            </div>

          </div>
        </div>
        <div class="ads mt-5">
          <h5 class="text-light ml-5">Banner Ads</h5>
        </div>

        <div class="post mt-5">
          <h5>Recent Post</h5>
          <div class="line"></div>
          <div class="row mt-3">
            <div class="circle col-md-2 text-light bg-danger rounded-circle"><p class="mt-2">01</p></div>
            <div class="col-md-10">
              <p>There are many variations of passages of Lorempsum</p>
            </div>
          </div>

          <div class="row mt-3 mb-3">
            <div class="circle col-md-2 text-light bg-danger rounded-circle"><p class="mt-2">02</p></div>
            <div class="col-md-10">
              <p>There are many variations of passages of Lorempsum</p>
            </div>
          </div>

          <div class="row mt-3 mb-3">
            <div class="circle col-md-2 text-light bg-danger rounded-circle"><p class="mt-2">03</p></div>
            <div class="col-md-10">
              <p>There are many variations of passages of Lorempsum</p>
            </div>
          </div>

          <div class="row">
            <div class="circle col-md-2 text-light bg-danger rounded-circle"><p class="mt-2">04</p></div>
            <div class="col-md-10">
              <p>There are many variations of passages of Lorempsum</p>
            </div>
          </div>

        </div>

        <div class="ads mt-5">
          <h5 class="text-light ml-5">There are many variations of passages of Lorempsum</h5>
        </div>


        </div>

        <div class="col-md-8 ml-3">
          <div class="row">
            <div class="blog col-md-12">
              <div class="blog-img">
              <img class="img-fluid w-100 h-100" src="assets/images/24.jpg">
              </div>
              <h5 class="new-h2 ml-5">congue ante</h5>
              <div class="news-line"></div>
              <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
              </p>
              <a class="ml-5 text-danger">Read More</a>
            </div>
            <div class="blog col-md-12 mt-3 mb-3">
              <div class="blog-img">
                <img class="img-fluid w-100 h-100" src="assets/images/21.jpg">
                </div>
              <h5 class="new-h2 ml-5">ante present</h5>
              <div class="news-line"></div>
              <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
              </p>
              <a class="ml-5 text-danger">Read More</a>
            </div>
            <div class="blog col-md-12">
              <div class="blog-img">
                <img class="img-fluid w-100 h-100" src="assets/images/16.jpg">
                </div>
              <h5 class="new-h2 ml-5">Prasent a congue</h5>
              <div class="news-line"></div>
              <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
              </p>
              <a class="ml-5 text-danger">Read More</a>
            </div>

            <div class="blog col-md-12">
              <div class="blog-img">
              <img class="img-fluid w-100 h-100" src="assets/images/30.jpg">
              </div>
              <h5 class="new-h2 ml-5">congue ante</h5>
              <div class="news-line"></div>
              <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
              </p>
              <a class="ml-5 text-danger">Read More</a>
            </div>
            <div class="blog col-md-12 mt-3 mb-3">
              <div class="blog-img">
                <img class="img-fluid w-100 h-100" src="assets/images/25.jpg">
                </div>
              <h5 class="new-h2 ml-5">ante present</h5>
              <div class="news-line"></div>
              <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
              </p>
              <a class="ml-5 text-danger">Read More</a>
            </div>
            <div class="blog col-md-12">
              <div class="blog-img">
                <img class="img-fluid w-100 h-100" src="assets/images/22.jpg">
                </div>
              <h5 class="new-h2 ml-5">Prasent a congue</h5>
              <div class="news-line"></div>
              <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
                porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit
              </p>
              <a class="ml-5 text-danger">Read More</a>
            </div>
          </div>
        </div>
      </div>
          </div>

        </div>

        <div class="bg-light mt-5">
          <div class="container">
            <div class="row">
              <div class="col-md-5 mt-5">
                <h6>ABOUT US</h6>
                <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have
                  suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
                  believable.</p>
              </div>
              <div class="col-md-2 mt-5">
                <h6>CATEGORIES</h6>
                <ul class="list-unstyled text-muted">
                  <li>Fashion Sneakers</li>
                  <li class="mt-2 mb-2">Jackets</li>
                  <li class="mb-2">Outdoor Shop</li>
                  <li class="mb-2">Pants</li>
                  <li class="mb-5">Shirts & Tops</li>
                </ul>
              </div>
              <div class="col-md-2 mt-5">
                <h6>MY ACCOUNT</h6>
                <ul class="list-unstyled text-muted">
                  <li>Orders</li>
                  <li class="mt-2 mb-2">Compare</li>
                  <li class="mb-2">Wishlist</li>
                  <li class="mb-2">Log In
                  </li>
                  <li class="mb-4">Register</li>
        
                </ul>
              </div>
              <div class="col-md-3 mt-5">
                <h6>CONTACT INFO</h6>
                <ul class="list-unstyled text-muted">
                  <li><i class="fa fa-map-marker text-danger mr-2" aria-hidden="true"></i>
                    c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</li>
                  <li class="mt-2 mb-2"><i class="fa fa-phone text-danger mr-2" aria-hidden="true"></i>
        
                    +025 2155 3255</li>
                  <li><i class="fa fa-envelope-o text-danger mr-2" aria-hidden="true"></i>
                    info@gmail.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="bg-dark footer">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mt-3">
                <p class="text-light">Copyright © 2018. All Rights Reserved.
        
                </p>
              </div>
              <div class="col-md-6 mt-3">
                <ul class="list-unstyled text-light d-flex ml-5">
                  <li><i class="fa fa-facebook" aria-hidden="true"></i>
                  </li>
                  <li class="ml-4"><i class="fa fa-google" aria-hidden="true"></i>
                  </li>
                  <li class="ml-4"><i class="fa fa-twitter" aria-hidden="true"></i>
                  </li>
                  <li class="ml-4"><i class="fa fa-linkedin" aria-hidden="true"></i>
                  </li>
        
                </ul>
              </div>
            </div>
          </div>
        </div>

    
